main {
    width: 100%;
}

.hero-page {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 2rem;
}

.hero-left h1 {
    font-size: 4rem;
    line-height: 4rem;
    text-align: center;
}

.hero-first-icon-container{
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    max-width: 200px;
    z-index: 1;
}

.hero-first-icon-container img{
    width: 100%;
}

.hero-second-icon-container{
    position: absolute;
    left: 100px;
    bottom: -150px;
    width: 100%;
    max-width: 140px;
}

.hero-second-icon-container img{
    width: 100%;
}

.hero-left p {
    font-size: 1.6rem;
}

.hero-left a::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 20px;
    height: 20px;
    border-top: 2px solid var(--dark-blue);
    border-left: 2px solid var(--dark-blue);
    transition: 0.3s ease;
}


.hero-left a {
    position: relative;
    padding: 18px 40px;
    border: 1px solid #ebebeb;
    line-height: 18px;
    font-size: 15px;
    transition: 0.3s;
}

.hero-left a::after {
    content: "";
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 20px;
    height: 20px;
    border-bottom: 2px solid var(--dark-blue);
    border-right: 2px solid var(--dark-blue);
    transition: 0.3s ease;
}


.hero-left a:hover::before,
.hero-left a:hover::after {
    width: 100%;
    height: 100%;
}


.hero-right {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hero-image-container {
    width: 90%;
    position: relative;
}

.hero-image-container img {
    width: 100%;
}

.hero-third-icon-container {
    max-width: 200px;
    position: absolute;
    bottom: 10px;
}












@media (max-width: 900px) {
    .hero-page {
        flex-direction: column;
        padding: 3rem 1.5rem;
    }

    .hero-left {
        justify-content: flex-start;
        padding-top: 4rem;
    }

    .hero-left h1 {
        font-size: 3rem;
        line-height: 3.2rem;
    }

    .hero-left p {
        font-size: 1.4rem;
    }

    .hero-left a {
        padding: 18px 23px;
    }

    .hero-right {
        margin-top: 3rem;
    }

    .hero-first-icon-container {
        top: -20px;
        left: 50px;
        max-width: 140px;
    }

    .hero-second-icon-container {
        bottom: -80px;
        left: 40px;
        max-width: 100px;
    }

    .hero-third-icon-container {
        max-width: 120px;
        bottom: -20px;
    }

}



@media (max-width: 400px) {
    .hero-left a {
        padding: 15px 20px;
    }

    .hero-image-container {
        width: 100%;
    }

    .hero-first-icon-container {
        display: none;
    }
}