main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-page {
    margin-top: 80px;
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 2rem;
}

.hero-left h1 {
    font-size: 4rem;
    line-height: 4rem;
    text-align: center;
}


.hero-first-icon-container,
.hero-second-icon-container,
.hero-third-icon-container {
    transition: transform 0.1s linear;
}


.hero-first-icon-container {
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    max-width: 200px;
    z-index: 1;
}

.hero-first-icon-container img {
    width: 100%;
}

.hero-second-icon-container {
    position: absolute;
    left: 100px;
    bottom: -150px;
    width: 100%;
    max-width: 140px;
}

.hero-second-icon-container img {
    width: 100%;
}

.hero-left p {
    font-size: 1.6rem;
}

.hero-left a::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 20px;
    height: 20px;
    border-top: 1px solid var(--dark-blue);
    border-left: 1px solid var(--dark-blue);
    transition: 0.3s ease;
}


.hero-left a {
    position: relative;
    padding: 18px 40px;
    border: 1px solid #ebebeb;
    line-height: 18px;
    font-size: 15px;
    transition: 0.3s;
}

.hero-left a::after {
    content: "";
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 20px;
    height: 20px;
    border-bottom: 1px solid var(--dark-blue);
    border-right: 1px solid var(--dark-blue);
    transition: 0.3s ease;
}


.hero-left a:hover::before,
.hero-left a:hover::after {
    width: 100%;
    height: 100%;
}


.hero-right {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hero-image-container {
    width: 90%;
    position: relative;
}

.hero-image-container img {
    width: 100%;
}

.hero-third-icon-container {
    max-width: 200px;
    position: absolute;
    bottom: 10px;
}

/* SECOND SECTION */
.second-section {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-container {
    width: 30px;
    height: 30px;
}

.arrow-container img {
    width: 100%;
    height: 100%;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}

.bounce {
    animation: bounce 2s infinite;
}


/* THIRD PAGE */
.third-section {
    width: 100%;
    max-width: var(--max-width);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    padding: 20px;
}

.portfolio-container-outer-container {
    width: 100%;
    height: 100%;
    background-color: rgba(102, 51, 153, 0.5);
}

.portfolio-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.35);
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.4rem;
    padding: 0 2rem 2rem;

    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay h1 {
    font-weight: 200;
    overflow: hidden;
}

.overlay p {
    letter-spacing: 1px;
    overflow: hidden;
}

.overlay h1 span,
.overlay p span {
    display: block;
    transform: translateY(120%);
}

.portfolio-container:hover .overlay {
    opacity: 1;
}

.portfolio-container:hover .overlay h1 span {
    animation: textUp 0.5s ease forwards;
}

.portfolio-container:hover .overlay p span {
    animation: textUp 0.5s ease forwards 0.1s;
}

@keyframes textUp {
    from {
        transform: translateY(120%);
    }

    to {
        transform: translateY(0);
    }
}

.portfolio-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.portfolio-container:hover img {
    transform: scale(1.1);
}












@media (max-width: 900px) {
    .hero-page {
        flex-direction: column;
        padding: 3rem 1.5rem;
    }

    .hero-left {
        justify-content: flex-start;
        padding-top: 4rem;
    }

    .hero-left h1 {
        font-size: 3rem;
        line-height: 3.2rem;
    }

    .hero-left p {
        font-size: 1.4rem;
    }

    .hero-left a {
        padding: 18px 23px;
    }

    .hero-right {
        margin-top: 3rem;
    }

    .hero-first-icon-container {
        top: -20px;
        left: 50px;
        max-width: 140px;
    }

    .hero-second-icon-container {
        bottom: -80px;
        left: 40px;
        max-width: 100px;
    }

    .hero-third-icon-container {
        max-width: 120px;
        bottom: -20px;
    }

    .third-section {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .portfolio-container-1,
    .portfolio-container-2,
    .portfolio-container-3,
    .portfolio-container-4,
    .portfolio-container-5,
    .portfolio-container-6 {
        max-width: 380px;
        max-height: 380px;
    }

}



@media (max-width: 400px) {
    .hero-left a {
        padding: 15px 20px;
    }

    .hero-image-container {
        width: 100%;
    }

    .hero-first-icon-container {
        display: none;
    }

    .third-section {
        grid-template-columns: 1fr;
        gap: 12px;
    }

    .portfolio-container-1,
    .portfolio-container-2,
    .portfolio-container-3,
    .portfolio-container-4,
    .portfolio-container-5,
    .portfolio-container-6 {
        max-width: 100%;
        max-height: 300px;
    }
}